<p>Name: <%= @restaurant.name %></p>
<p>Rating: <%= @restaurant.rating %></p>
<p>Address: <%= @restaurant.address %></p>

<p>People who want to visit this restaurant:</p>
<ul>
  <% @restaurant.users.each do |user| %>
    <li><%= user.name %></li>
  <% end %>
</ul>

<h2>Add to List of Restaurants to Try</h2>
<form action="<%= @restaurant.id %>/visits" method="post">
  <select name="user_id">
    <% @addable_users.each do |user| %>
      <option value="<%= user.id %>"><%= user.name %></option>
    <% end %>
  </select>
  <input type="submit" value="submit">
</form>
